.image-input {
    text-aling: center;
}
.image-input input {
    display: none;
}
.image-input label {
    display: block;
    color: black;
    box-shadow: 2px 2px 20px rgb(232, 232, 232);
    padding: 0.3rem 0.6rem;
    font-size: 115%;
    border-radius: 5px;
    cursor: pointer;
}
.image-input label i {
    font-size: 125%;
    margin-right: 0.3rem;
}
.image-input label:hover i {
    animation: shake 0.35s;
}
.image-input img {
    max-width: 175px;
    display: none;
}
.image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
}
  
@keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.gambar1 {
    justify-content: center;
    margin: 20px;
    display: flex;
    /* background-color: red; */
}

.lo {
    display: flex;
    justify-content: space-evenly;
}

.lo input {
    padding: 5px 10px;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 20px gainsboro;
}

.lb {
    display: flex;
    align-items: center;
}

.lb input {
    height: 50px;
    padding: 5px 10px;
    width: 350px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 20px gainsboro;
}

textarea {
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 20px gainsboro;
}

.sub {
    display: flex;
    justify-content: end;
}


.sub input {
    color: white;
    padding: 15px 20px;
    border: none;
    background-color: #CFA446;
    border-radius: 20px;
}